<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="<%= url %>/chrome/dist/popup.css">
    <title></title>
  </head>
  <body>
    <div class="kt-popup f5">
      <div class='js-signed-in-container'>
        <legend class="db pa2 f6 gray">Automatically close and save tabs older than</legend>
        <div class="f6 db w-100 pa2 js-radio-time">
          <label class="mr2"><input type="radio" name="time" value="60"> 60mins</label>
          <label class="mr2"><input type="radio" name="time" value="90"> 90mins</label>
          <label class="mr2"><input type="radio" name="time" value="120"> 120mins</label>
          <a href="#" class="link js-show-custom">Customize</a>
        </div>
        
        <section class="pa2 js-custom">
          <input class="db w-100 pa2 ba b--light-silver js-input-time" type="text" placeholder="Time in miliseconds...">
          <label class="f6 gray db mv2">Custom time in milliseconds</label>
        </section>

        <div class="kt-btns cf">
          <button class="kt-btn w-50 fl js-btn-save">Save</button>
          <button class="kt-btn w-50 fr js-toggle-activate">Deactivate</button>
        </div>

        <section class="pa2 js-username">
          <input class="db w-100 pa2 ba b--light-silver js-input-username" type="text" placeholder="Username">
          <label class="f6 gray db mv2">Hello</label>
        </section>

        <section class="pa2 js-links">
          <a href="<%= url %>/#/urls" target="_blank">View your saved tabs</a>
        </section>
      </div>
      <div class="js-sign-in-container">
        <a class="kt-btn" href="<%= url %>/#/signup" target="_blank">Sign-Up/Sign-In</a>
      </div>
      <div class="js-sign-out-container">
        <button class="kt-btn w-50 js-btn-sign-out">Sign Out</button>
      </div>
    </div>

      <script type="text/javascript" src="<%= url %>/chrome/dist/vendors.js"></script>
      <script type="text/javascript" src="<%= url %>/chrome/dist/popup.js"></script>
  </body>
</html>